/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "ArcadeClassic";
  src: url("./fonts/gamefont.eot"); /* IE9 Compat Modes */
  src: url("./fonts/gamefont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/gamefont.otf") format("opentype"),
    /* Open Type Font */ url("./fonts/gamefont.svg") format("svg"),
    /* Legacy iOS */ url("./fonts/gamefont.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/gamefont.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/gamefont.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "ArcadeClassic";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font: sr;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
}

body {
  background: green;
  width: 100%;
  height: 100%;
}

.intro {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro > div {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro > div h1 {
  font-size: 100px;
}

.intro > div h1 span {
  position: relative;
  animation: upDown 0.5s linear infinite alternate;
}

.intro > div h1 span.n2 {
  animation-delay: 0.1s;
}

.intro > div h1 span.n3 {
  animation-delay: 0.2s;
}

.intro > div h1 span.n4 {
  animation-delay: 0.3s;
}

.intro > div h1 span.n5 {
  animation-delay: 0.4s;
}

.intro > div h1 span.n6 {
  animation-delay: 0.5s;
}

.intro > div h1 span.n7 {
  animation-delay: 0.6s;
}

.intro > div h1 span.n8 {
  animation-delay: 0.7s;
}

.intro > div h1 span.n9 {
  animation-delay: 0.8s;
}

.intro > div button {
  margin-top: 40px;
}

@keyframes upDown {
  from {
    top: 0;
  }

  to {
    top: 50px;
  }
}

.game {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

header {
  position: absolute;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
}

header h2 {
  margin-right: 10px;
}

#snake {
  display: flex;
}

#snake span {
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.food {
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.game-over {
  position: relative;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -20%;
}

.game-over.active {
  transition: all 1s;
  top: 30vh;
}

.game-over p {
  font: 10px;
  margin-top: 10px;
}

.confirm-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  border-radius: 2px;
  border: 0;
  width: 80px;
}
